<h1>house show page</h1>
<p>Title : <%= @house.title %></p>
<p>Guest : <%= @house.guest %></p>
<div class="">
<img src="<%= @user.img_url %>", width="100px", height="100px">
</div>
<div class="">
<img src="<%= @house.house_image1 %>", width="900px", height="500px">
<img src="<%= @house.house_image2 %>", width="900px", height="500px">
<img src="<%= @house.house_image3 %>", width="900px", height="500px">
<img src="<%= @house.house_image4 %>", width="900px", height="500px">
<img src="<%= @house.house_image5 %>", width="900px", height="500px">
</div>
